section {
    margin-top: 30vh;
}

p {
    text-align: center;
    font-size: 24px;
    color: lightcoral;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    font-size: 24px;
    color: lightgreen;
}

button{
    margin: 0 15px;
    color: lightcoral;
}

.titulo {
    text-align: center;
    font-size: 30px;
}